.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form input, .search-form button {
    padding: 0.5rem 0.75rem;
}

.suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
}

.suggestions-list li {
    width: 100%;
    text-align: start;
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}